#local.terraform directories
**/.terraform/*

# .tfstate files
**/*.tfstate
**/*.tfstate.*
**/*.lock.hcl
**/*.tfvars
**/*.env
terraform/.terraform.lock.hcl

# Allow committing this one non-secret tfvars file for CI/CD
!terraform/terraform.auto.tfvarsterraform/state-backup-*.json
